<%- include ../partials/header.ejs %>

<%- include ../partials/top_nav.ejs %>
 
<main class="container">  
    <div class="container my-5">


        <!--Section: Content-->
        <section class="p-5 z-depth-1">
          
          <h3 class="text-center font-weight-bold mb-5">Current Projects</h3>
      
          <div class="row d-flex justify-content-center">
      
            <div class="col-md-6 col-lg-3 mb-4 text-center">
              <h4 class="h1 font-weight-normal mb-3">
                <i class="fas fa-file-alt indigo-text"></i>
                <span class="d-inline-block count-up" data-from="0" data-to="100" data-time="2000">7</span>
              </h4>
              <p class="font-weight-normal text-muted">Unique Page</p>
            </div>
      
            <div class="col-md-6 col-lg-3 mb-4 text-center">
              <h4 class="h1 font-weight-normal mb-3">
                <i class="fas fa-layer-group indigo-text"></i>
                <span class="d-inline-block count1" data-from="0" data-to="250" data-time="2000">32</span>
              </h4>
              <p class="font-weight-normal text-muted">Block Variety</p>
            </div>
      
            <div class="col-md-6 col-lg-3 mb-4 text-center">
              <h4 class="h1 font-weight-normal mb-3">
                <i class="fas fa-pencil-ruler indigo-text"></i>
                <span class="d-inline-block count2" data-from="0" data-to="330" data-time="2000">70</span>
              </h4>
              <p class="font-weight-normal text-muted">Reusable Component</p>
            </div>
            
            <div class="col-md-6 col-lg-3 mb-4 text-center">
              <h4 class="h1 font-weight-normal mb-3">
                <i class="fab fa-react indigo-text"></i>
                <span class="d-inline-block count3" data-from="0" data-to="430" data-time="2000">90</span>
              </h4>
              <p class="font-weight-normal text-muted">Crafted Element</p>
            </div>
      
          </div>
      
        </section>
        <!--Section: Content-->
      
      
      </div>

      <div class="container my-5">


        <!-- Section: Block Content -->
        <section class="dark-grey-text text-center">
      
          <h3 class="text-center font-weight-bold mb-4 pb-2">Future Projects</h3>
          <!-- First row -->
          <div class="row">
      
            <!-- First column -->
            <div class="col-lg-4 col-md-12 mb-4">
      
              <div class="view overlay z-depth-1">
                <img src="img/weather.jpeg" class="img-fluid" alt="Sample image">
                <div class="mask flex-center blue-gradient-rgba">
                  <a class="btn btn-outline-white btn-rounded">see more</a>
                </div>
              </div>
              <p class="text-uppercase text-center text-muted mt-4 mb-0">Weather App</p>
      
            </div>
            <!-- First column -->
      
            <!-- Second column -->
            <div class="col-lg-4 col-md-6 mb-4">
      
              <div class="view overlay z-depth-1">
                <img src="img/calendar.jpeg" class="img-fluid" alt="Sample image">
                <div class=" mask flex-center blue-gradient-rgba">
                  <a class="btn btn-outline-white btn-rounded">see more</a>
                </div>
              </div>
              <p class="text-uppercase text-center text-muted mt-4 mb-0">Smart Calendar App</p>
      
            </div>
            <!-- Second column -->
      
            <!-- Third column -->
            <div class="col-lg-4 col-md-6 mb-4">
      
              <div class="view overlay z-depth-1">
                <img src="img/calculator.jpeg" class="img-fluid" alt="Sample image">
                <div class="mask flex-center blue-gradient-rgba">
                  <a class="btn  btn-outline-white btn-rounded">see more</a>
                </div>
              </div>
              <p class="text-uppercase text-center text-muted mt-4 mb-0">AI Calculator</p>
      
            </div>
            <!-- Third column -->
      
          </div>
          <!-- First row -->
      
        </section>
        <!-- Section: Block Content -->
        
        
      </div>
</main>




<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>

